@function toRem($px) {
  @return ($px / $mainFontSize) + rem;
}


$color_primary:#442266;
$color_secondary:#CC0099;
$color_third:#FF9922;
$color_ligth:#FFFFFF;
$color_container_color:#FF99224d;
$color_hidden_overlay:#cc0099a6;

@mixin p{
  font:{
    size:16px;
    family:Georgia;
    style:normal;
    weight:normal;
  }
  line-height: 130%;
}



