@mixin h2{
  font:{
    size:4.4rem;
    family:Georgia;
    style:normal;
    weight:normal;
  }
  line-height: 130%;
}

@mixin h3{
  font:{
    size:3.5rem;
    family:Georgia;
    style:normal;
    weight:normal;
  }
  line-height: 130%;
  letter-spacing: 0.21rem;
}

@mixin h4{
  font:{
    size:2rem;
    family:Georgia;
    style:normal;
    weight:normal;
  }
  line-height: 115%;
  letter-spacing: 0.06em;
}

@mixin h5{
  font: {
    size:1.5rem;
    family:Georgia;
    style:normal;
    weight:normal;
  }
  line-height: 110%;
  letter-spacing: 0.06em;
}

@mixin paragraph-l{
  font: {
    size:1.5rem;
    family:Arial;
    style:normal;
    weight:normal;
  }
  line-height: 160%;
}

@mixin paragraph-s{
  font: {
    size:1.2rem;
    family:Arial;
    style:italic;
    weight:normal;
  }
  line-height: 150%;
}

@mixin font_logo_title{
  font: {
    size:3.2rem;
    family:Georgia;
    style:normal;
    weight:normal;
  }
  line-height: 110%;
  letter-spacing: 0.06em;
}

@mixin font_logo_subtitle{
  font: {
    size:1.3rem;
    family:Arial;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin btn-style{
  padding: 15px 45px;
  color:$color-dark-xl;
  font-size: 1.7rem;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
}