/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ______________________________________________________ */

body{

  
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
  
  
    -webkit-transition:background-image 1s ease-in;
     -moz-transition: background-image 1s ease-in;
     -o-transition: background-image 1s ease-in;
     transition: background-image 1s ease-in;
  letter-spacing: 0.1rem;
    
}

.wrapper{
  max-width: 900px;
  margin: 0 auto;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrapper__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.button__next__background, .button__prev__background{
  border-radius: 50%;
  background-color: azure;
  min-width: 40px;
  height: 40px;
}

.button__next__background:hover, .button__prev__background:hover{
  -webkit-box-shadow: 0px 0px 21px -1px rgba(4,76,98,1);
  -moz-box-shadow: 0px 0px 21px -1px rgba(4,76,98,1);
  box-shadow: 0px 0px 21px -1px rgba(4,76,98,1);
}

.img__prev {
  width: 30px;
}

.button__next__background:disabled, .button__prev__background:disabled{
  width: 40px;
  cursor: default;
}
.button__next__background:hover > .img__prev, .button__prev__background:hover > .img__prev{
  transition: 0.1s;
  width: 40px;
}

.content__greeting{
  display: flex;
  justify-content: center;
  font-size:3.5rem;
  color: azure;
  text-shadow: #044c62 1px 1px 0,  #044c62 -1px -1px 0, #044c62 -1px 1px 0, #044c62 1px -1px 0;
  /* background: rgba(255, 255, 255, 0.3); */
}
.name{
  cursor: text;
}

.name:hover{
  color:#044c62;
  text-shadow: azure 1px 1px 0, azure -1px -1px 0, azure -1px 1px 0, azure 1px -1px 0;
}

.content__greeting div{
  margin:0 5px;
  font-family: 'Lobster', cursive;
  font-weight: 500;
}

.date__weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__date {
  text-align: center;
}

.date {
  margin:10px;
  font-size: 5rem;
  font-family:'Roboto', sans-serif;
  color: #044c62;
  text-shadow: azure 1px 1px 0, azure -1px -1px 0, azure -1px 1px 0, azure 1px -1px 0;
}

.time {
  margin:10px;
  font-size: 15rem;
  font-family:'Roboto', sans-serif;
  color:#044c62;
  text-shadow: azure 1px 1px 0, azure -1px -1px 0, azure -1px 1px 0, azure 1px -1px 0;
}

.content{
  justify-content: space-around;
}

.target {
  font-family:'Roboto', sans-serif;
  font-size:2.4rem;
  color: azure;
  text-align: center;
}

.target__title{
     margin: 5px;
    padding: 5px;
    font-weight: 700;
  text-shadow: #044c62 2px 2px 0,  #044c62 -2px -2px 0, #044c62 -2px 2px 0, #044c62 2px -2px 0;
 
}

.focus{
    display: initial;
    height: 34px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(251 251 251 / 60%);
    color: #044c62;
    cursor: text;
}

.weather{
  width: 180px;
  color:#044c62;
  text-align: center;
}

.city {
    height: 30px;
  padding: 5px 0;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid#044c62;
  cursor:text;
  background-color: rgb(255 255 255 / 70%);
}
.temperature, .humidity, .speed__wind {
  font-size: 1.8rem;
  padding: 5px 0;
  background-color: rgb(255 255 255 / 70%);
}
.weather-description {
  padding: 5px 0;
  font-size: 20px;
  padding: 5px 0;
  color: azure;
  background-color:#044c62;
  border-radius: 5px;
}
.weather-icon {
  font-size: 5rem;
  color:#044c62;
  width: 100%;
  background-color: rgb(255 255 255 / 70%);
}
.weather-icon:hover {
  animation: shake 1.5s;
}

.famous__phrases{
    max-width: 80%;
margin: 20px auto;
    
  
}

.quote{
  color:#044c62;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  background-color: azure;
}

.quote__title{
  display: flex;
    flex-direction: column;
  background-color: #044c62;  
  align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quote__title p{
  margin:5px 0;
  color: azure;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
}

blockquote{
  margin: 5px;
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
  text-shadow: azure 1px 1px 0,  azure -1px -1px 0, azure -1px 1px 0, azure 1px -1px 0;
}

figcaption{
  margin: 5px;
  font-family: 'Lora', serif;
  font-size: 2rem;
  align-self: flex-end;
  text-shadow: azure 1px 1px 0,  azure -1px -1px 0, azure -1px 1px 0, azure 1px -1px 0;
}

.refresh__button__quote{

    margin: 5px;
  padding: 5px;
  border-radius: 50%;
  background-color: azure;
  animation: rotate 3s linear infinite;
}

.refresh__button__quote:hover{
  animation: none;
}

.img__quote{
  width: 30px;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}


@media (max-width: 1023px) {
    .wrapper{
        max-width: 700px;
    }
    
    .content__greeting{
        font-size:2.4rem;
    }
    
    .date{
        font-size:3rem;
    }
    .time{
        font-size:8rem;
    }
    
    .target{
        font-size:2rem;
    }
    
    .city{
        height: 24px;
        font-size:1.4rem;
    }
    
    .weather-icon{        
        font-size:2rem;
        font-weight:900;
    }
    
    .temperature, .humidity, .speed__wind, .weather-description {
        font-size: 1.4rem;  
        padding: 3px 0;
    }
    
    blockquote{
        font-size: 1.6rem;
    }
    
    .quote__title{
        flex-direction: row;
    }    
}

@media (max-width: 767px) {
    .wrapper{
        max-width: 300px;
/*        flex-wrap: wrap;        */
    }
    
    .button__prev__background{        
        min-width: 30px;
        height: 30px;
    }
    
    .button__next__background{
        order:3;
        min-width: 30px;
        height: 30px;   
    }
    
    .button__next__background:hover > .img__prev, .button__prev__background:hover > .img__prev{
  transition: 0.1s;
  width: 20px;
}
    
    .date__weather{
        flex-direction: column
    }
    
    .content__greeting{
        font-size: 2.4rem;
        flex-direction: column;
        text-align: center;
    }
    
    .date{
        font-size: 1.8rem;
        text-shadow: none;
        background-color: azure;
    }
    .time{
        font-size: 2rem;
        background-color: #044c62;
        width: 100px;
        margin: 4px auto;
        color: azure;
        text-shadow: none;
    }
    
    .target{
        font-size:2rem;
    }
    
    .city{
        height: 24px;
        font-size:1.4rem;
    }
    
    .weather-icon{        
        font-size:2rem;
        font-weight:900;
    }
    
    .temperature, .humidity, .speed__wind, .weather-description {
        font-size: 1.4rem;  
        padding: 3px 0;
    }
    
    blockquote{
        font-size: 1.4rem;
    }
    
    .quote__title{
        flex-direction: row;
    } 
    
    .quote__title p{
        font-size: 1.4rem;
    }  
    
    .img__quote{
        width:20px;
    }
    
    figcaption{
        font-size:1.4rem;
    }
}
