@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*
--------Позиционирование
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 100;

--------Блочная модель
display: block;
float: right;
width: 100px;
height: 100px;
margin: 10px;
padding: 10px;

--------Типографика
font: normal 13px/1.5 "Arial", sans-serif;
font-style: normal;
font-size: 13px;
line-height: 1.5;
font-family: "Arial", sans-serif;
text-align: center;
color: #333333;

--------Оформление
background-color: #f5f5f5;
border: 1px solid #e5e5e5;
border-radius: 3px;
opacity: 1;

--------Анимация
transition: color 1s;

--------Разное
will-change: auto;
*/
body {
  background-color: black;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
}

.wrapper {
  /* Позиционирование */
  /* Блочная модель */
  width: 1200px;
  margin: 0 auto;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.inner__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  padding-top: 80px;
  padding-bottom: 100px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.header__content {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.logo {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.logo__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 6%;
  line-height: 110%;
  letter-spacing: 0.14rem;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.logo__subtitle {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #FFFFFF;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.13em;
  padding-left: 5px;
  padding-top: 11px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.menu {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  min-width: 443px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.list {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.list__item {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  align-items: center;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.header .list__link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  color: #CDCDCD;
  padding-bottom: 5px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.header .active {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #FFFFFF;
  border-bottom: solid 3px #F1CDB3;
  padding-top: 3px;
  padding-bottom: 5px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.header a:hover {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #FFFFFF;
  border-bottom: solid 3px #F1CDB3;
  padding-top: 3px;
  padding-bottom: 5px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main {
  /* Позиционирование */
  /* Блочная модель */
  padding-top: 180px;
  /* Типографика */
  /* Оформление */
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  /* Анимация */
  /* Разное */
}

.hero {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.hero__content {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.hero__content__item {
  /* Позиционирование */
  /* Блочная модель */
  margin: 21px 0;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.hero__title {
  /* Позиционирование */
  /* Блочная модель */
  max-width: 310px;
  /* Типографика */
  color: #FFFFFF;
  font-size: 44px;
  line-height: 130%;
  font-family: Georgia;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.hero__subtitle {
  /* Позиционирование */
  /* Блочная модель */
  max-width: 460px;
  /* Типографика */
  color: #CDCDCD;
  font-family: Arial;
  line-height: 160%;
  font-size: 15px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.hero__button {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  padding: 15px 45px;
  color: #4C4C4C;
  font-size: 17px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  /* Оформление */
  border-radius: 100px;
  border: none;
  background-color: #F1CDB3;
  /* Анимация */
  /* Разное */
}

.hero__button:hover {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-color: #FDDCC4;
  /* Анимация */
  /* Разное */
}

.section__about {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-color: #FFFFFF;
  /* Анимация */
  /* Разное */
}

.about {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: center;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.about__content__img {
  /* Позиционирование */
  /* Блочная модель */
  margin: 0 60px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.about__content {
  /* Позиционирование */
  /* Блочная модель */
  max-width: 430px;
  display: flex;
  flex-direction: column;
  margin: 14px 60px;
  justify-content: space-between;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.about__content__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.about__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #545454;
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.about__subtitle {
  /* Позиционирование */
  /* Блочная модель */
  max-width: 460px;
  /* Типографика */
  color: #4C4C4C;
  font-family: Arial;
  line-height: 160%;
  font-size: 15px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.section__pets {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-color: #F6F6F6;
  /* Анимация */
  /* Разное */
}

.pets {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 697px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.pets__item {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: center;
  text-align: center;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.pets__text {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: center;
  text-align: center;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.pets__title {
  /* Позиционирование */
  /* Блочная модель */
  max-width: 430px;
  /* Типографика */
  color: #545454;
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.pets__slider {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.arrow__forward {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  /* Типографика */
  /* Оформление */
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  /* Анимация */
  /* Разное */
}

.arrow__backward {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  /* Типографика */
  /* Оформление */
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  /* Анимация */
  transform: rotate(-180deg);
  /* Разное */
}

.cards {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  width: 990px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.card {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 435px;
  width: 570px;
  /* Типографика */
  /* Оформление */
  background-color: #FAFAFA;
  /* Анимация */
  /* Разное */
}

.card__img {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.card__title {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  /* Типографика */
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.card__button {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  padding: 15px 45px;
  color: #4C4C4C;
  font-size: 17px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  /* Оформление */
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  /* Анимация */
  /* Разное */
}

.pets__btn {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  justify-content: center;
  text-align: center;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.pets__button {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  padding: 15px 45px;
  color: #4C4C4C;
  font-size: 17px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  /* Оформление */
  border-radius: 100px;
  border: none;
  background-color: #F1CDB3;
  /* Анимация */
  /* Разное */
}