@import "mixins";

$color-primary-color:#F1CDB3;
$color-primary-light:#FDDCC4;

$color-light-s:#FAFAFA;
$color-light-l:#F6F6F6;
$color-light-xl:#FFFFFF;
$color-dark-s:#CDCDCD;

$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;

$start-screen-gradient-background:url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$footer-gradient-background:url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;


/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/*
--------Позиционирование
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 100;

--------Блочная модель
display: block;
float: right;
width: 100px;
height: 100px;
margin: 10px;
padding: 10px;

--------Типографика
font: normal 13px/1.5 "Arial", sans-serif;
font-style: normal;
font-size: 13px;
line-height: 1.5;
font-family: "Arial", sans-serif;
text-align: center;
color: #333333;

--------Оформление
background-color: #f5f5f5;
border: 1px solid #e5e5e5;
border-radius: 3px;
opacity: 1;

--------Анимация
transition: color 1s;

--------Разное
will-change: auto;
*/


 body{
     background-color: black;

 }

 .visuallyhidden{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
 }

.header{
    width: 100%;
    position: absolute;
    top:0;
}

.wrapper{
    /* Позиционирование */
    /* Блочная модель */
    max-width: 1200px;
    margin: 0 auto;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}

.inner__wrapper{
    /* Позиционирование */
    /* Блочная модель */
    padding-top: 80px;
    padding-bottom: 100px;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}


.header__content{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}



.logo{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color: $color-primary-color;
        @include font_logo_title;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__subtitle{
        /* Позиционирование */
        /* Блочная модель */
        padding-left: 5px;
        padding-top: 11px;
        /* Типографика */
        color: $color-light-xl;
        @include font_logo_subtitle;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }
}

.menu{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}

.header__nav{
    /* Позиционирование */
    /* Блочная модель */
    min-width: 443px;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__list{
        /* Позиционирование */
        /* Блочная модель */
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 5px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__item{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            align-items: center;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__item .active{
            /* Позиционирование */
            /* Блочная модель */
            padding-top: 3px;
            /* Типографика */
            color: $color-light-xl;
            border-bottom: solid 3px $color-primary-color;
            // padding-top: 1px;
            // padding-bottom: 5px;
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__item-link{
            /* Позиционирование */
            /* Блочная модель */
            // padding-bottom: 5px;
            /* Типографика */
            @include paragraph-l;
            color:$color-dark-s;
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__item-link:hover{
            /* Позиционирование */
            /* Блочная модель */
            padding-top: 3px;
            /* Типографика */
            color: $color-light-xl;
            border-bottom: solid 3px $color-primary-color;
            /* Оформление */
            /* Анимация */
            /* Разное */
        }
    }
}

#check_menu{
    /* Позиционирование */
    /* Блочная модель */
    display: none;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}

.main{
    /* Позиционирование */
    /* Блочная модель */
    padding-top: 180px;
    /* Типографика */
    /* Оформление */
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    /* Анимация */
    /* Разное */
    }

 //___________________________________________Hero____________________________________

.hero{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    justify-content: space-between;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__content{
        /* Позиционирование */
        /* Блочная модель */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 80px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__img .test-resp{
            /* Позиционирование */
            /* Блочная модель */
            max-width: 100%;
            height: auto;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__item{
            /* Позиционирование */
            /* Блочная модель */
            margin:21px 0;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__title{
                /* Позиционирование */
                /* Блочная модель */
                max-width: 310px;
                /* Типографика */
                color:$color-light-xl;
                font-size: 44px;
                line-height: 130%;
                font-family: Georgia;
                /* Оформление */
                /* Анимация */
                /* Разное */
            }

            &__subtitle{
                /* Позиционирование */
                /* Блочная модель */
                max-width: 460px;
                /* Типографика */
                color:$color-dark-s;
                font-family: Arial;
                line-height: 160%;
                font-size: 15px;    ;
                /* Оформление */
                /* Анимация */
                /* Разное */
            }

            &__button{
                /* Позиционирование */
                /* Блочная модель */
                /* Типографика */
                @include btn-style;
                /* Оформление */
                border-radius: 100px;
                border:none;
                background-color:$color-primary-color;
                /* Анимация */
                /* Разное */
            }

            &__button:hover{
                /* Позиционирование */
                /* Блочная модель */
                /* Типографика */
                /* Оформление */
                background-color:$color-primary-light;
                /* Анимация */
                /* Разное */
            }
        }
    }
}

//___________________________________________ABOUT____________________________________
.section__about{
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-color: $color-light-xl;
    /* Анимация */
    /* Разное */
}

.about{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    justify-content: center;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__content__img{
        /* Позиционирование */
        /* Блочная модель */
        margin: 0 60px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__content__text{
        /* Позиционирование */
        /* Блочная модель */
        max-width:430px;
        display: flex;
        flex-direction: column;
        margin: 15px 60px;
        justify-content: space-between;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__item{
            /* Позиционирование */
            /* Блочная модель */
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__title{
                /* Позиционирование */
                /* Блочная модель */
                /* Типографика */
                color:$color-dark-l;
                @include h3;
                /* Оформление */
                /* Анимация */
                /* Разное */

                span{
                /* Позиционирование */
                /* Блочная модель */
                display: block;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
                }
            }

            &__subtitle{
                /* Позиционирование */
                /* Блочная модель */
                max-width: 460px;
                /* Типографика */
                color:$color-dark-xl;
                font-family: Arial;
                line-height: 160%;
                font-size: 15px;    ;
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }
    }
}

//___________________________________________PETS____________________________________
.section__pets{
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-color: $color-light-l;
    /* Анимация */
    /* Разное */
}

.pets{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__heading{
        /* Позиционирование */
        /* Блочная модель */
        display: flex;
        justify-content: center;
        text-align: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color:$color-dark-l;
        @include h3;
        /* Оформление */
        /* Анимация */
        /* Разное */
        span{
            /* Позиционирование */
            /* Блочная модель */
            display: block;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }
    }

    &__btn{
        /* Позиционирование */
        /* Блочная модель */
        display: flex;
        justify-content: center;
        text-align: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__button{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        @include btn-style;
        /* Оформление */
        border-radius: 100px;
        border:none;
        background-color:$color-primary-color;
        /* Анимация */
        /* Разное */
    }

    &__button:hover{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        /* Оформление */
        background-color:$color-primary-light;
        /* Анимация */
        /* Разное */
    }



    &__slider{
        /* Позиционирование */
        /* Блочная модель */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__arrow__backward{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 52px;
            height: 52px;
            /* Типографика */
            @include h4;
            font-size: 2.4rem;
            /* Оформление */
            border: 2px solid $color-primary-color;
            border-radius: 100%;
            /* Анимация */
            /* Разное */
        }



        button:hover{
            /* Позиционирование */
            /* Блочная модель */
            /* Типографика */
            /* Оформление */
            background-color:$color-primary-light;
            /* Анимация */
            /* Разное */
        }

        button:disabled{
            /* Позиционирование */
            /* Блочная модель */
            /* Типографика */
            /* Оформление */
            border: 2px solid $color-dark-s;
            background-color:$color-light-xl;
            cursor: default;
            /* Анимация */
            /* Разное */
        }

        button:disabled:hover{
            /* Позиционирование */
            /* Блочная модель */
            /* Типографика */
            /* Оформление */
            border: 2px solid $color-dark-s;
            background-color:$color-light-xl;
            cursor: default;
            /* Анимация */
            /* Разное */
        }

        &__container{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            width: 1080px;
            overflow: hidden;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__cards{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            transition: 2s;
            width: 100%;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            transition: 2s;
            /* Разное */

            &__card{
                /* Позиционирование */
                /* Блочная модель */
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */

                &__text{
                    /* Позиционирование */
                    /* Блочная модель */
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 0;
                    /* Типографика */
                    /* Оформление */
                    /* Анимация */
                    /* Разное */
                }

                &__title{
                    /* Позиционирование */
                    /* Блочная модель */
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    /* Типографика */
                    font-family: Georgia;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.06em;
                    /* Оформление */
                    /* Анимация */
                    /* Разное */
                }

                &__btn{
                    /* Позиционирование */
                    /* Блочная модель */
                    padding: 15px;
                    /* Типографика */
                    /* Оформление */
                    /* Анимация */
                    /* Разное */
                }

                &__button{
                    /* Позиционирование */
                    /* Блочная модель */
                    @include btn-style;
                    padding:13px 43px;
                    /* Типографика */
                    /* Оформление */
                    border: 2px solid $color-primary-color;
                    border-radius: 100px;
                    background-color: transparent;
                    /* Анимация */
                    /* Разное */
                }

                &__button:hover{
                    /* Позиционирование */
                    /* Блочная модель */
                    /* Типографика */
                    /* Оформление */
                    background-color:$color-primary-light;
                    border: 2px solid $color-primary-light;
                    /* Анимация */
                    /* Разное */
                }

            }

            &__item {
                /* Позиционирование */
                /* Блочная модель */
                /* Типографика */
                /* Оформление */
                background-color: $color-light-s;
                /* Анимация */
                /* Разное */
            }

            &__item:hover {
                /* Позиционирование */
                /* Блочная модель */
                /* Типографика */
                /* Оформление */
                background-color: $color-light-xl;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                /* Анимация */
                /* Разное */
            }
        }

        &__arrow__forward{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 52px;
            height: 52px;
            /* Типографика */
            @include h4;
            font-size: 2.4rem;
            /* Оформление */
            border: 2px solid $color-primary-color;
            border-radius: 100%;
            /* Анимация */
            transform: rotate(-180deg);
            /* Разное */
        }


    }
}


//___________________________________________HELP____________________________________
.section__help{
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-color: $color-light-xl;
    /* Анимация */
    /* Разное */
}

.inner__wrapper_help{
    /* Позиционирование */
    /* Блочная модель */
    padding-top: 80px;
    padding-bottom: 73px;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}

.help{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__heading{
        /* Позиционирование */
        /* Блочная модель */
        padding-bottom: 32px;
        display: flex;
        justify-content: center;
        text-align: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color:$color-dark-l;
        @include h3;
        /* Оформление */
        /* Анимация */
        /* Разное */
        span{
            /* Позиционирование */
            /* Блочная модель */
            display: block;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }
    }

    &__cards{
        /* Позиционирование */
        /* Блочная модель */
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__card{
            /* Позиционирование */
            /* Блочная модель */
            text-align: center;
            margin: 27.5px 60px;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__img{
                /* Позиционирование */
                /* Блочная модель */
                padding-bottom:15px;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }

            &__text{
                /* Позиционирование */
                /* Блочная модель */
                padding-top: 15px;
                /* Типографика */
                @include h4;
                color: $color-dark-l;
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }
    }
}


//___________________________________________Donation____________________________________
.section__donation{
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-color: $color-light-l;
    /* Анимация */
    /* Разное */
}

.donation{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    justify-content: center;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */

    &__img{
        /* Позиционирование */
        /* Блочная модель */
        padding: 11px 15px 10px 17px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__content{
        /* Позиционирование */
        /* Блочная модель */
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__title{
        /* Позиционирование */
        /* Блочная модель */
        max-width: 300px;
        /* Типографика */
        color:$color-dark-l;
        @include h3;
        line-height: 133%;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__subtitle{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color:$color-dark-l;
        @include h5;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__information{
        /* Позиционирование */
        /* Блочная модель */
        max-width: 380px;
        /* Типографика */
        color:$color-dark-m;
        @include paragraph-s;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    &__button{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color:$color-dark-l;
        @include h4;
        /* Оформление */
        border-radius: 9px;
        background-color: $color-primary-color;
        /* Анимация */
        /* Разное */

        &__content{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
            &__icon{
                /* Позиционирование */
                /* Блочная модель */
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
            &__text{
                /* Позиционирование */
                /* Блочная модель */
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 15px 5px 0px;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }
    }

    &__button:hover{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        /* Оформление */
        background-color:$color-primary-light;
        /* Анимация */
        /* Разное */
    }



}

//___________________________________________Footer____________________________________


.footer{
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    /* Анимация */
    /* Разное */

    &__content{
        /* Позиционирование */
        /* Блочная модель */
        padding: 40px 0px 0px;
        display: flex;
        justify-content: space-between;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__item{
            /* Позиционирование */
            /* Блочная модель */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__info_icon{
                /* Позиционирование */
            /* Блочная модель */
            display: flex;
            align-items: center;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
            }
        }

        &__title{
            /* Позиционирование */
            /* Блочная модель */
            padding-top: 16px;
            padding-bottom: 20px;
            max-width: 279px;
            /* Типографика */
            @include h3;
            color:$color-light-xl;
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__info_contacts_email{
            /* Позиционирование */
            /* Блочная модель */
            margin:20px 0;
            display: flex;
            max-width: 300px;
            /* Типографика */
            @include h4;
            color: $color-primary-color;
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__text{
                /* Позиционирование */
                /* Блочная модель */
                padding-left:20px;
                display: flex;
                align-items: center;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }

        &__info_contacts_phone{
            /* Позиционирование */
            /* Блочная модель */
            margin:39px 0;
            display: flex;
            max-width: 300px;
            /* Типографика */
            @include h4;
            color: $color-primary-color;
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__text{
                /* Позиционирование */
                /* Блочная модель */
                padding-left:20px;
                display: flex;
                align-items: center;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }

        &__info_locations_first{
            /* Позиционирование */
            /* Блочная модель */
            margin:13px 0;
            display: flex;
            max-width: 300px;
            /* Типографика */
            @include h4;
            color: $color-primary-color;
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__text{
                /* Позиционирование */
                /* Блочная модель */
                padding-left:19px;
                display: flex;
                align-items: center;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }

        &__info_locations_second{
            /* Позиционирование */
            /* Блочная модель */
            margin:32px 0;
            display: flex;
            max-width: 300px;
            /* Типографика */
            @include h4;
            color: $color-primary-color;
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__text{
                /* Позиционирование */
                /* Блочная модель */
                padding-left:19px;
                display: flex;
                align-items: center;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }
    }
}

// ________________MODAL________________
.modal{
    /* Позиционирование */
    /* Блочная модель */
    position:fixed;
    display:flex;
    flex-direction: column;
    top:50%;
    left:50%;
    /* Типографика */
    /* Оформление */
    background-color:$color-light-s;
    /* Анимация */
    transform: translate(-50%, -50%);
    /* Разное */
    border-radius: 9px 0px 0px 9px;
    display: none;
}

.modal__window{
    /* Позиционирование */
    /* Блочная модель */
    display: flex;
    max-width: 900px;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}

.modal__window__img img{
    /* Позиционирование */
    /* Блочная модель */
    min-width: 500px;
    /* Типографика */
    /* Оформление */
    /* Анимация */
    /* Разное */
}




@media (max-width:1279px){
    .header{
        /* Позиционирование */
        /* Блочная модель */
        width: 100%;
        /* Типографика */
        /* Оформление */

        /* Анимация */
        /* Разное */

    }

    .wrapper{
        /* Позиционирование */
        /* Блочная модель */
        margin: 0 30px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .inner__wrapper{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .header__content{
        /* Позиционирование */
        /* Блочная модель */
        padding-top: 30px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .main{
        /* Позиционирование */
        /* Блочная модель */
        padding-top: 130px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .hero{
        /* Позиционирование */
        /* Блочная модель */
        flex-wrap: wrap;
        justify-content: flex-end;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__content{
            /* Позиционирование */
            /* Блочная модель */
            min-width: 310px;
            margin: 0 auto;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__img{
                /* Позиционирование */
                /* Блочная модель */
                max-width: 567px;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }

            &__item:last-child{
                /* Позиционирование */
                /* Блочная модель */
                margin: 21px auto;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }
    }

    .about{
        /* Позиционирование */
        /* Блочная модель */
        flex-wrap: wrap;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__content__text{
            /* Позиционирование */
            /* Блочная модель */
            order: -1;
            margin: 0 auto;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */

            &__item__subtitle{
                /* Позиционирование */
                /* Блочная модель */
                margin: 25px 0px 0px;
                /* Типографика */
                /* Оформление */
                /* Анимация */
                /* Разное */
            }
        }

        &__content__img {
            /* Позиционирование */
            /* Блочная модель */
            margin: 80px auto 0px;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

    }

    .pets__slider {
        /* Позиционирование */
        /* Блочная модель */
        justify-content: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider__container{
        /* Позиционирование */
        /* Блочная модель */
        width: 604px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__cards__card{
        /* Позиционирование */
        /* Блочная модель */
        margin: 27.5px 30px;
         width: 170px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .donation{
        /* Позиционирование */
        /* Блочная модель */
        flex-wrap: wrap;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

        &__content{
            /* Позиционирование */
            /* Блочная модель */
            order: -1;
            height: 282px;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }

        &__img{
            /* Позиционирование */
            /* Блочная модель */
            padding: 60px 15px 0;
            /* Типографика */
            /* Оформление */
            /* Анимация */
            /* Разное */
        }
    }

    .footer__content{
        /* Позиционирование */
        /* Блочная модель */
        padding: 15px 35px 0;
        flex-wrap: wrap;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }
}

@media (max-width:1080px){
    .footer__content__item:last-child{
        /* Позиционирование */
        /* Блочная модель */
        width: 100%;
        text-align: center;
        margin: 25px 0px 0px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

    }
}

@media (max-width:767px){

    .wrapper{
        /* Позиционирование */
        /* Блочная модель */
        margin: 0 10px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .header{
        /* Позиционирование */
        /* Блочная модель */
        width: 100%;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .header__nav{
        /* Позиционирование */
        min-width:0;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .header__nav__list{
        /* Позиционирование */
        position: fixed;
        top: 0;
        right: -320px;
        /* Блочная модель */
        width: 320px;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        align-items: center;
        /* Типографика */
        /* Оформление */
        background:$color-dark-3xl;
        /* Анимация */
        transition: right .2s;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        /* Разное */
    }

    label{
        /* Позиционирование */
        position: absolute;
        top:30px;
        right: 12px;
        /* Блочная модель */
        padding: 16px 42px;
        display: flex;
        flex-direction: column;
        /* Типографика */
        color: $color-primary-color;
        font-size: 15px;
        cursor: pointer;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ * label.hidden-menu-overlay {
        /* Позиционирование */
        right: 0;
        top: 0;
        position: absolute;
        /* Блочная модель */
        width: 100%;
        height: 100vh;
        /* Типографика */
        /* Оформление */
        background: rgba(41, 41, 41, 0.6);
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ div.header__content{
        /* Позиционирование */
        /* Блочная модель */
        justify-content: flex-end;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ * a.logo__link{
        /* Позиционирование */
        /* Блочная модель */
        z-index: 1;
        margin-right: 114px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        transition: .2s;
        /* Разное */
    }

    #check_menu:checked ~ label{
        z-index: 1;
    }

    #check_menu:checked ~ * ul.header__nav__list{
        right:0;
    }

    #check_menu:checked ~ * div.menu a{
        /* Позиционирование */
        /* Блочная модель */
        @include paragraph-mobile-menu;
        text-align: center;
        /* Типографика */
        color: $color-dark-s;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ * div.menu a.active{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color: $color-light-s;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ * div.logo__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color: $color-primary-color;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ * div.logo__subtitle{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        color: $color-light-xl;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ * div.burger_line{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        /* Оформление */
        background-color: $color-primary-color;
        /* Анимация */
        /* Разное */
    }

    #check_menu:checked ~ label{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        /* Оформление */
        /* Анимация */
        transform: rotate(90deg);
        transition: .2s;
        /* Разное */
    }

    .burger_line{
        /* Позиционирование */
        /* Блочная модель */
        width: 30px;
        height: 2px;
        margin: 4px auto;
        /* Типографика */
        /* Оформление */
        background-color: $color-primary-color;
        /* Анимация */
        /* Разное */
    }

    .hero__content{
        /* Позиционирование */
        /* Блочная модель */
       min-width: 0;
       text-align: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .hero__content__item__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        @include h3-mobile;
        padding: 0 20px;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .hero__content__img{
        /* Позиционирование */
        /* Блочная модель */
        max-width: 260px;
        padding-top: 4px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }


    .inner__wrapper{
        /* Позиционирование */
        /* Блочная модель */
        padding-top: 42px;
        padding-bottom: 42px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .about__content__text__item__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        @include h3-mobile;
        text-align: center;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .about__content__text__item__subtitle{
        /* Позиционирование */
        /* Блочная модель */
        margin: 24px 0px 0px;
        padding: 0 15px;
        /* Типографика */
        text-align: justify;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .about__content__img{
        /* Позиционирование */
        /* Блочная модель */
        margin: 40px auto 0px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .about__content__img img{
        /* Позиционирование */
        /* Блочная модель */
        width: 260px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }


    .pets__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
         @include h3-mobile;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider{
        /* Позиционирование */
        /* Блочная модель */
        flex-wrap: wrap;
        padding: 42px 0 22px;
        justify-content: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider__arrow__backward{
        /* Позиционирование */
        /* Блочная модель */
        margin: 20px 40px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider__arrow__forward{
        /* Позиционирование */
        /* Блочная модель */
        margin: 20px 40px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider__cards{
        /* Позиционирование */
        /* Блочная модель */
        order: -1;
        margin: 0 15px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider__cards__card{
        /* Позиционирование */
        /* Блочная модель */
        margin: 0 auto;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .pets__slider__cards__card:nth-child(2){
        /* Позиционирование */
        /* Блочная модель */
        display: none;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .inner__wrapper_help{
        /* Позиционирование */
        /* Блочная модель */
        padding-top: 42px;
        padding-bottom: 12px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__heading{
        /* Позиционирование */
        /* Блочная модель */
        padding-bottom: 42px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        @include h3-mobile;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__cards{
        /* Позиционирование */
        /* Блочная модель */
        justify-content: space-between;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__cards__card {
        /* Позиционирование */
        /* Блочная модель */
        margin: 0px 5px 31px;
        width: 130px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__cards__card__text{
        /* Позиционирование */
        /* Блочная модель */
        padding-top: 5px;
        /* Типографика */
         @include h5;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .help__cards__card__img img{
        /* Позиционирование */
        /* Блочная модель */
        height: 50px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }


    .donation__content{
        /* Позиционирование */
        /* Блочная модель */
        padding: 0;
        text-align: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .donation__title{
        /* Позиционирование */
        /* Блочная модель */
        width: 220px;
        text-align: center;
        margin: 0 auto;
        /* Типографика */
         @include h3-mobile;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .donation__subtitle{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
         @include paragraph-l;
         letter-spacing: 0;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .donation__img{
        /* Позиционирование */
        /* Блочная модель */
        padding: 42px 0px 0px;
        margin: 0 auto;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .donation__img img{
        /* Позиционирование */
        /* Блочная модель */
        width: 260px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .donation__button__content__text{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        @include h5;
        /* Оформление */
        /* Анимация */
        /* Разное */

    }

    .donation__information{
        /* Позиционирование */
        /* Блочная модель */
        padding: 0 10px;
        /* Типографика */
        text-align: justify;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__content{
        /* Позиционирование */
        /* Блочная модель */
        text-align: center;
        padding: 30px 0px 0px;
        justify-content: center;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }


    .footer__content__title{
        /* Позиционирование */
        /* Блочная модель */
        /* Типографика */
        @include h3-mobile;
        padding: 0 5px;
        max-width: 100%;
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__content__info_contacts_email{
        /* Позиционирование */
        /* Блочная модель */
        margin: 40px 25px;
        justify-content: space-between;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__content__info_contacts_phone{
        /* Позиционирование */
        /* Блочная модель */
        margin: 40px 30px;
        justify-content: space-between;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__content__info_locations_first{
        /* Позиционирование */
        /* Блочная модель */
        margin: 40px 0;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__content__info_locations_first__text{
        /* Позиционирование */
        /* Блочная модель */
        text-align: initial;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__img img{
        /* Позиционирование */
        /* Блочная модель */
        width:260px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */

    }

    .footer__content__info_contacts_email__text{
        /* Позиционирование */
        /* Блочная модель */
        padding-left: 0px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }

    .footer__content__item:last-child {
        width: 100%;
        /* Позиционирование */
        /* Блочная модель */
        text-align: center;
        margin: 8px 0px 0px;
        /* Типографика */
        /* Оформление */
        /* Анимация */
        /* Разное */
    }
}







