@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*
--------Позиционирование
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 100;
--------Блочная модель
display: block;
float: right;
width: 100px;
height: 100px;
margin: 10px;
padding: 10px;
--------Типографика
font: normal 13px/1.5 "Arial", sans-serif;
font-style: normal;
font-size: 13px;
line-height: 1.5;
font-family: "Arial", sans-serif;
text-align: center;
color: #333333;
--------Оформление
background-color: #f5f5f5;
border: 1px solid #e5e5e5;
border-radius: 3px;
opacity: 1;
--------Анимация
transition: color 1s;
--------Разное
will-change: auto;
*/
body{
  background-color: #184668;
}

sup {
  color: #ff0000;
  font-size: 14px;
}


.main{

  margin: 0 auto;

}

.wrapper {
  display: flex;
  height: 400px;
  align-items: center;
  flex-direction: column;
}

.textarea {
  font-size: 16px;
  display: block;
  margin: 20px 10px;
  padding: 5px;
  height: 128px;
  width: 490px;
  resize: none;
  border: solid 1px black;
  background-color: #efefef;

}

.buttons__container button{
  margin:5px;
  padding: 5px;
  font-size: 1.4rem;
  background-color: #4889B2;
  width: 75px;
  border:1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;

}

.info{
  color: #ffffff;
  font-size: 1.6rem;
}

.on {
  background-color:orange !important;
}

.caps_indicator {
  float: right;
  margin: 0 40px 10px 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.keyboard_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 15px;
  bottom: 0;
  width: 800px;
  background-color: #184668 ;

}

.keyboard_keys {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.key {
  padding: 0 2px;
    min-width: 3.5rem;
    min-height: 3rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #4889B2;
    border-radius: 5px;
    color: #ffffff;
}

.key span{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.key span div{
  color: orange;
  font-size: 12px;
  align-self: flex-start;
  padding-left: 5px;
  padding-top: 3px;
}

.key-special {
  background-color: #dbd8d8;
}

.key_pressed {
  background-color:#4889B2;
  box-shadow: 0 1px black;
  transition: 0.1s ease-in-out;
  transform: translateY(2px);
}

/* Special keys */
#Backspace{
  width: 10rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#Delete{
  width: 11.5rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#Tab{
  width: 5rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#CapsLock{
  width: 6rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#Enter{
  width: 9rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#ShiftLeft{
  width: 10rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#ShiftRight{
  width: 9.5rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#ControlLeft, #ControlRight{
  width: 6rem;
  font-weight: bold;
}

#AltLeft, #AltRight{
  width: 4rem;
  font-weight: bold;
}

#MetaLeft{
  width: 5rem;
  font-weight: bold;
}

#Lang{
  width: 5rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#Microphone{
  width: 5rem;
  font-size: 2.4rem;
}

#Space{
  width: 14.5rem;
  font-weight: bold;
}

#Space,
#ShiftLeft,
#ControlLeft,
#ControlRight,
#Tab {
  justify-self: stretch;
}

#ArrowLeft,
#Backquote {
  justify-self: end;
}

#ArrowRight {
  justify-self: start;
}

@media (max-width: 767px) {

  .main{
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
  }

  .wrapper {

  }

  .textarea {
    font-size: 14px;
  }



  .keyboard_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 15px;
    bottom: 0;
    width: 500px;
    background-color: #184668 ;

  }

  .keyboard_keys {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.5rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .key {
    padding: 0 2px;
      min-width: 2.8rem;
      min-height: 2rem;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 2px solid #4889B2;
      border-radius: 5px;
      color: #ffffff;
  }

  .key span{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .key span div{
    color: orange;
    font-size: 10px;
    align-self: flex-start;
    padding-left: 3px;
    padding-top: 3px;
  }

  .key-special {
    background-color: #dbd8d8;
  }



  #Backspace{
    width: 3.4rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  #Delete{
    width: 4.1rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  #Tab{
    width: 3.5rem;
    font-weight: normal;
    font-size: 1.4rem;
  }

  #CapsLock{
    width: 4rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  #Enter{
    width: 2.9rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  #ShiftLeft{
    width: 5.1rem;
    font-weight: normal;
    font-size: 1.4rem;
  }

  #ShiftRight{
    width: 5.1rem;
    font-weight: normal;
    font-size: 1.4rem;
  }

  #ControlLeft, #ControlRight{
    width: 5rem;
    font-weight: normal;
  }

  #AltLeft, #AltRight{
    width: 3rem;
    font-weight: normal;
  }

  #MetaLeft{
    width: 4rem;
    font-weight: normal;
  }

  #Lang{
    width: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  #Microphone{
    width: 1.5rem;
    font-size: 1.4rem;
  }

  #Space{
    width: 7.8rem;
    font-weight: bold;
  }

  #Space,
  #ShiftLeft,
  #ControlLeft,
  #ControlRight,
  #Tab {
    justify-self: stretch;
  }

  #ArrowLeft,
  #Backquote {
    justify-self: end;
  }

  #ArrowRight {
    justify-self: start;
  }

 }