@import "./modal.scss";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  padding: 50px;
  background-color: #184668;
}

#puzzle-wrapper{
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 0 auto;
  opacity: 0;

  h1{
    text-align: center;
    font-size: 50px;
  }
}

.puzzle p{
  text-shadow: #044c62 1px 1px 0, #044c62 -1px -1px 0, #044c62 -1px 1px 0, #044c62 1px -1px;
  margin:0;
  padding: 5px;
  color: #ffffff;
  font-size:16px;
  font-weight: bold;
}

.menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  background-color: #4889B2;
  width: 800px;
  margin: 0 auto;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #184668;

  .game{
    margin: 5px;
    padding: 5px;
    width: 50px;
  }

  .reset{
    background: transparent;
    width: 36px;
    height: 36px;
    animation: rotate 3s linear infinite;
  }

  .reset:hover{
    background: #044c62;
    border-radius: 50%;
    transition: .2s;
  }
  .time, .step{
    color: #ffffff;
    width: 110px;
    margin: 0 5px;
  }

  .template{
    display: flex;
    align-items: center;

    button{
      margin: 3px;
      padding: 3px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &_text{
      margin: 0 5px;
      color: #ffffff;
    }
  }

  .sound{
    margin: 0 5px;
    width: 40px;
    height: 34px;
    background-color: #184668;
    border-radius: 5px;
  }


}

button:active{
  transform: scale(0.9);
  transition: 0.1s;
}


h3{
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 1279px) {

  #puzzle-wrapper{
    width: 600px;
  }

  .menu{
    width: 600px;
  }
}

@media (max-width: 767px) {
  .menu{
    width: 340px;
    height: 80px;
  }

  #puzzle-wrapper{
    width: 340px;
  }

}


